@model SCore.Models.User

@{
    ViewBag.Title = "Details";
}

<h4>My page</h4>

<div>
    <hr />
    <dl class="dl-horizontal">
        @if (!String.IsNullOrEmpty(Model.Image))
        {
            var image_path = $"/Image/{Model.Image}";
            <img src="@image_path"/>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfRegister)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfRegister)
        </dd>

    </dl>
</div>
<table class="table">
    <tr>
            <th>
                @Html.DisplayName("Orders Id")
            </th>
            <th>
                @Html.DisplayName("Time of order")
            </th>
            <th></th>
    </tr>
    @foreach (var item in Model.Orders)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOfOrder)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Orders", new { id = item.OrderId }) |
                @Html.ActionLink("Details", "Details", "Orders", new { id = item.OrderId }) |
                @Html.ActionLink("Delete", "Delete", "Orders", new { id = item.OrderId })
            </td>
        </tr>
    }

</table>
<p>
    <a class="btn btn-outline-primary" asp-action="Edit" asp-controller="Users" asp-route-Id="@Model.Id">
        Edit
    </a>

</p>