@model SCore.Models.Order

@{
    ViewBag.Title = "Delete";
}

<h4>Delete</h4>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeOfOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeOfOrder)
        </dd>

    </dl>

    @using (Html.BeginForm()) {

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-outline-primary" /> |
            <a class="btn btn-outline-primary" asp-action="Index" asp-controller="Orders" asp-route-productId="@Model.OrderId">
                Back to List
            </a>
        </div>
    }
</div>
