@model SCore.Models.Order

@{
    ViewBag.Title = "Details";
}

<h4>Details</h4>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeOfOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeOfOrder)
        </dd>
        <dt>
            @Html.DisplayName("Products")
        </dt>
        <table class="table">
            @foreach (var item in Model.ProductOrders)
            {
                int i = item.Product.Price * item.Amount;
                <tr>
                    <td>
                        @item.Product.Name
                    </td>
                    <td>
                        @item.Amount
                    </td>
                    <td>
                        @item.Product.Price.ToString("c")
                    </td>
                    <td>
                        @i.ToString("c")
                    </td>
                </tr>
            }
        </table>
    </dl>
</div>
<p>
    <a class="btn btn-outline-primary" asp-action="Edit" asp-controller="Orders" asp-route-productId="@Model.OrderId">
        Edit
    </a>
    <a class="btn btn-outline-primary" asp-action="Index" asp-controller="Orders" asp-route-productId="@Model.OrderId">
        Back to List
    </a>
</p>
